
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
.banner img {
    width: 80px;
    max-width: fit-content;
}
.registrationForm {
    width: 300px;
    padding: 60px;
    border-radius: 18px;
    text-align: center;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.registrationForm input, select, button {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}
select, option {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
    background-color: #7b877e;
}
.table table {
    margin: 10px auto;
    border-collapse: collapse;
    width: 50%;
}
.table td {
    padding: 15px;
    text-align: left;
}
.table th {
    padding: 10px;
}