* {
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    display: flex;
    align-items: center;
    gap: 20px;
}
.banner img {
    width: 80px;
    max-width: fit-content;
}
body {
    scroll-behavior: smooth;
}